<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Webcam Example</title>
  </head>
  <link rel="website icon" type="png" href="https://img.freepik.com/premium-vector/soccer-ball-logo-illustration-vector_472355-210.jpg?w=2000">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/static/css/staff/read-qrcode.css}">

  <body>
    <button class="start">Start Camera</button>
    <button class="close">Close Camera</button>

<!--    <section class="camera">-->
<!--      <div class="qr">-->
<!--        <video id="webcam" autoplay></video>-->
<!--        <canvas id="canvas" style="display: none"></canvas>-->
<!--      </div>-->
<!--    </section>-->

    <div class="camera-selection" style="display: none;">
      <select id="cameraList"></select>
      <div class="qr">
        <video id="webcam" autoplay></video>
        <canvas id="canvas" style="display: none"></canvas>
      </div>
    </div>


    <script th:src="@{/static/js/custom/read-qrcode.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>
  </body>
</html>
