<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <link rel="website icon" type="png"
          href="https://img.freepik.com/premium-vector/soccer-ball-logo-illustration-vector_472355-210.jpg?w=2000">

    <!-- BOOTSTRAP -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <!-- BOOTSTRAP -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Google -->

    <!-- Icon Font AWESOME Bắt buộc có hai bản 5.10 và 6.2 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <!-- table icon -->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- table icon -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link th:href="@{/static/css/staff/thanh-toan-staff.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{fragments/header-admin}"></header>

<section>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="color: #fff">Thanh Toán</h2>
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-start">
                        <div class="header-row-col">
                            <h1 class="">Thông tin</h1>
                        </div>
                    </div>
                </div>
                <hr />

                <div>
                    <!-- Thông tin -->
                    <form class="row g-3">
                        <div class="col-md-4">
                            <label for="tenKhachHang" class="form-label"
                            >Tên khách hàng</label
                            >
                            <input
                                    readonly
                                    type="text"
                                    name="tenKhachHang"
                                    class="form-control"
                                    id="tenKhachHang"
                            />
                        </div>
                        <div class="col-md-4">
                            <label for="soDienThoai" class="form-label"
                            >Số điện thoại</label
                            >
                            <input
                                    readonly
                                    type="text"
                                    name="soDienThoai"
                                    class="form-control"
                                    id="soDienThoai"
                            />
                        </div>

                        <div class="col-md-4">
                            <label for="email" class="form-label">Email</label>
                            <input readonly type="text" class="form-control" id="email" />
                        </div>

                        <!--  -->
                        <div class="col-md-6">
                            <label for="tenSan" class="form-label">Tên Sân</label>
                            <input
                                    readonly
                                    type="text"
                                    class="form-control"
                                    name="tenSanBong"
                                    id="tenSan"
                            />
                        </div>

                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Tên ca</label>
                            <input
                                    readonly
                                    type="text"
                                    name="tenCa"
                                    class="form-control"
                                    id="inputAddress"
                            />
                        </div>

                        <div class="col-md-6">
                            <label for="thoiGianNhanSan" class="form-label"
                            >Thời gian nhận sân</label
                            >
                            <input
                                    readonly
                                    type="text"
                                    name="thoiGianNhanSan"
                                    class="form-control"
                                    id="thoiGianNhanSan"
                            />
                        </div>

                        <!--  -->
                        <div class="col-md-6">
                            <label for="giaSan" class="form-label">Giá sân</label>
                            <div class="input-group">
                                <input
                                        readonly
                                        type="text"
                                        class="form-control"
                                        id="giaSan"
                                />
                                <span
                                        class="input-group-text"
                                        style="
                                                border-top-right-radius: 5px;
                                                border-bottom-right-radius: 5px;
                                              "
                                >VND</span
                                >
                            </div>
                        </div>

                        <!-- Thanh toán -->
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <h1>Thanh Toán</h1>
                            </div>
                            <hr />

                            <div class="col-md-12">
                                <!-- phương thức chuyển khoản -->
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-md-4 pt-0">
                                        Phương thức thanh toán
                                    </legend>
                                    <div class="col-md-8">
                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="phuongThucChuyenKhoan"
                                                    id="chuyeKhoan"
                                                    value="option1"
                                                    checked
                                            />
                                            <label class="form-check-label" for="chuyeKhoan">
                                                Chuyển khoản
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="phuongThucChuyenKhoan"
                                                    id="tienMat"
                                                    value="option2"
                                            />
                                            <label class="form-check-label" for="tienMat">
                                                Tiền mặt
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="phuongThucChuyenKhoan"
                                                    id="gridRadios3"
                                                    value="option3"
                                                    disabled
                                            />
                                            <label class="form-check-label" for="gridRadios3">
                                                Third disabled radio
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <!--Phụ Phí  -->
                                <div class="row mb-3">
                                    <label
                                            for="selectPhuPhi"
                                            class="col-md-4 col-form-label"
                                    >Phụ phí</label
                                    >
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <select
                                                    id="selectPhuPhi"
                                                    class="form-select"
                                                    aria-label="Default select example"
                                            >
                                                <option selected>Chọn dịch vụ</option>
                                                <option value="1">Hỏng</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <!--  -->
                                            <button
                                                    class="btn btn-success btn-outline-success"
                                                    type="button"
                                                    id="button-addon2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalThemPhuPhi"
                                                    style="
                                                              border-top-right-radius: 5px;
                                                              border-bottom-right-radius: 5px;
                                                            "
                                            >
                                                <i
                                                        class="fas fa-plus fa-lg"
                                                        style="color: #ffffff"
                                                ></i>
                                            </button>
                                            <!-- MODAL -->
                                            <div
                                                    class="modal fade"
                                                    id="modalThemPhuPhi"
                                                    data-bs-backdrop="static"
                                                    data-bs-keyboard="false"
                                                    tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel"
                                                    aria-hidden="true"
                                            >
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5
                                                                    class="modal-title"
                                                                    id="staticBackdropLabel"
                                                            >
                                                                Thêm phụ phí
                                                            </h5>
                                                            <button
                                                                    type="button"
                                                                    class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"
                                                            ></button>
                                                        </div>

                                                        <form>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label
                                                                                for="tenPhuPhi"
                                                                                class="form-label"
                                                                        >Tên phụ phí</label
                                                                        >
                                                                        <div class="input-group">
                                                                            <input
                                                                                    type="text"
                                                                                    class="form-control"
                                                                                    id="tenPhuPhi"
                                                                            />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label
                                                                                for="giaPhuPhi"
                                                                                class="form-label"
                                                                        >Giá phú phí</label
                                                                        >
                                                                        <div class="input-group">
                                                                            <input
                                                                                    type="text"
                                                                                    class="form-control"
                                                                                    id="giaPhuPhi"
                                                                            />
                                                                            <span
                                                                                    class="input-group-text"
                                                                                    style="
                                                                                              border-top-right-radius: 5px;
                                                                                              border-bottom-right-radius: 5px;
                                                                                            "
                                                                                    id="basic-addon2"
                                                                            >VND</span
                                                                            >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button
                                                                        type="button"
                                                                        class="btn btn-danger btn-labeled-sm"
                                                                        data-bs-dismiss="modal"
                                                                >
                                                                    Hủy
                                                                </button>
                                                                <button
                                                                        type="button"
                                                                        class="btn btn-success btn-labeled-sm"
                                                                >
                                                                    Thêm
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END MODAL -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Tiền khách đưa -->
                                <div class="row mb-3">
                                    <label for="tienKhachDua" class="col-md-4 col-form-label"
                                    >Tiền khách đưa</label
                                    >
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input
                                                    readonly
                                                    type="text"
                                                    class="form-control"
                                                    id="tienKhachDua"
                                            />
                                            <span
                                                    class="input-group-text"
                                                    style="
                              border-top-right-radius: 5px;
                              border-bottom-right-radius: 5px;
                            "
                                                    id="basic-addon2"
                                            >VND</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- Tiền trả lại -->
                                <div class="row mb-3">
                                    <label for="tienTraLai" class="col-md-4 col-form-label"
                                    >Tiền trả lại</label
                                    >
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input
                                                    readonly
                                                    type="text"
                                                    class="form-control"
                                                    id="tienTraLai"
                                            />
                                            <span
                                                    class="input-group-text"
                                                    style="
                                                              border-top-right-radius: 5px;
                                                              border-bottom-right-radius: 5px;
                                                            "
                                            >VND</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tổng tiền -->
                            <div class="col-md-12">
                                <hr />
                                <h2
                                        style="
                                                font-size: 19px;
                                                font-family: Tahoma;
                                                font-weight: 600;
                                                text-align: center;
                                                color: rgb(215, 92, 92);
                                              "
                                >
                                    Tổng Thanh Toán: 150.000 VND
                                </h2>
                            </div>
                        </div>
                        <!-- BUTTON NEW 2/11 -->
                        <hr />
                        <div
                                class="mt-2 d-grid gap-2 d-md-block d-flex justify-content-center text-center"
                        >
                            <button type="button" class="m-2 btn btn-danger btn-labeled">
                                Hủy
                                <span class="btn-label">
                      <i class="fa fa-remove"></i>
                    </span>
                            </button>
                            <button
                                    type="submit"
                                    id="submitBtn"
                                    class="m-2 btn btn-success btn-labeled"
                            >
                                Thanh Toán
                                <span class="btn-label"
                                ><i class="fas fa-money-bill fa-lg"></i
                                ></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-7">
                <div class="body-row-col">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Dịch vụ sử dụng</h1>
                        </div>
                        <hr />

                        <div class="table-responsive" id="tableScroll">
                            <table class="table tableFixHead">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th>Tên dịch vụ</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Tổng tiền</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <img
                                                th:src="@{/static/img/Sting-strawberry-drink-soft1.jpg}"
                                                class="card-img-top"
                                                alt="..."
                                        />
                                    </td>
                                    <td>Nguyễn Cao Đần</td>
                                    <td>
                                        <input
                                                style="width: 100px"
                                                type="number"
                                                min="1"
                                                value="1"
                                                class="form-control"
                                        />
                                    </td>
                                    <td>29-10-2023</td>
                                    <td>Ca 1</td>
                                    <td>
                                        <div class="d-grid gap-2 d-md-block">
                                            <a href="#"
                                            ><i
                                                    class="fas fa-pen fa-lg"
                                                    style="color: #009578"
                                            ></i>
                                            </a>
                                            <a href="#" role="button" class="m-2"
                                            ><i
                                                    class="fas fa-trash-alt fa-lg"
                                                    style="color: #e60a0a"
                                            ></i
                                            ></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- LAMNP UPDATE PHÂN TRANG, HIỂN THỊ SỐ BẢN GHI 02/11 -->
                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="hint-text">
                                            <p style="color: #333">
                                                Hiển thị <b>5</b> / <b>25</b> dịch vụ
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a
                                                            class="page-link"
                                                            href="#"
                                                            aria-label="Previous"
                                                    >
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        var currentURL = window.location.href;
        var parts = currentURL.split('/');
        var id = parts[parts.length - 1];

        $.get("/api/v1/staff/thanh-toan/thanh-toan-hoa-don/" + id, function (response) {
            var hoaDonThanhToan = response;
            $("input[name='tenSanBong']").val(hoaDonThanhToan.tenSanBong + ' - ' + hoaDonThanhToan.tenLoaiSan);
            $("input[name='tienCoc']").val(hoaDonThanhToan.tienCoc);
            $("input[name='tenCa']").val(hoaDonThanhToan.tenCa);
            $("input[name='thoiGianNhanSan']").val(hoaDonThanhToan.thoiGianCheckIn);
            $("input[name='thoiGianSanCa']").val(hoaDonThanhToan.thoiGianBatDau + ' - ' + hoaDonThanhToan.thoiGianKetThuc);
            $("input[name='soDienThoai']").val(hoaDonThanhToan.soDienThoai);
            $("input[name='tenKhachHang']").val(hoaDonThanhToan.tenKhachHang);
            $("input[name='tienSanBong']").val(hoaDonThanhToan.tongTienSanCa);
            $("input[name='tienDichVu']").val(hoaDonThanhToan.tongTienDichVu);
            $("span[name='tongThanhToan']").text(parseFloat(hoaDonThanhToan.tongTienSanCa) + parseFloat(hoaDonThanhToan.tongTienDichVu) - parseFloat(hoaDonThanhToan.tienCoc));
        });
    });


</script>
<!-- Add Bootstrap JS and jQuery links -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- UPDATE 2/11/023 -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
