<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <link rel="website icon" type="png"
          href="https://img.freepik.com/premium-vector/soccer-ball-logo-illustration-vector_472355-210.jpg?w=2000">

    <!-- Mobiscroll JS and CSS Includes -->
    <link
            href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />

    <!--    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Quan Trọng -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--  -->
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <!--    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">-->
    <link th:href="@{/static/css/staff/thanh-toan-staff.css}" rel="stylesheet">
</head>
<body>
<!--<div th:insert="~{fragments/header-thanh-toan}"></div>-->

<div>
    <div class="row cart-body">
        <form class="form-horizontal" method="post" action="">
            <div
                    class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6"
            >
                <!--REVIEW ORDER-->
                <div class="panel panel-info">
                    <div class="panel-heading">Dịch Vụ Sử dụng</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <img
                                        class="img-responsive"
                                        src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg"
                                />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">
                                    <h4 style="color: red">Product name</h4>
                                </div>
                                <div class="col-xs-12">
                                    <h5>
                                        Số Lượng:
                                        <input type="number" style="width: 100px"/>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h4 style="font-weight: 600"><span>$</span>25.00</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <img
                                        class="img-responsive"
                                        src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg"
                                />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">
                                    <h4 style="color: red">Product name</h4>
                                </div>
                                <div class="col-xs-12">
                                    <h5>
                                        Số Lượng:
                                        <input type="number" style="width: 100px"/>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h4 style="font-weight: 600"><span>$</span>25.00</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <img
                                        class="img-responsive"
                                        src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg"
                                />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">
                                    <h4 style="color: red">Product name</h4>
                                </div>
                                <div class="col-xs-12">
                                    <h5>
                                        Số Lượng:
                                        <input type="number" style="width: 100px"/>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h4 style="font-weight: 600"><span>$</span>50.00</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <img
                                        class="img-responsive"
                                        src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg"
                                />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">
                                    <h4 style="color: red">Product name</h4>
                                </div>
                                <div class="col-xs-12">
                                    <h5>
                                        Số Lượng:
                                        <input type="number" style="width: 100px"/>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h4 style="font-weight: 600"><span>$</span>50.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                    class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6"
            >
                <div class="panel panel-info">
                    <div class="panel-heading">Thông Tin</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>Tên Sân Bóng: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="tenSanBong"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Tên Ca: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="tenCa"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>Thời Gian Nhận Sân: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="thoiGianNhanSan"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Thời Gian Sân Ca: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="thoiGianSanCa"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>Số Điện Thoại Người Nhận Sân: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="soDienThoai"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Tên Khách Hàng: </strong>
                                <input
                                        disabled
                                        type="text"
                                        name="tenKhachHang"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12"><strong>Tổng Tiền Sân: </strong></div>
                            <div class="col-md-6 col-xs-12">
                                <input
                                        type="text"
                                        name="tienSanBong"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12"><strong>Tiền Dịch Vụ Sử Dụng: </strong></div>
                            <div class="col-md-6 col-xs-12">
                                <input
                                        type="text"
                                        name="tienDichVu"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12"><strong>Tiền Khách Cọc Sân: </strong></div>
                            <div class="col-md-6 col-xs-12">
                                <input
                                        type="text"
                                        name="tienCoc"
                                        class="form-control"
                                        value=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <!--SHIPPING METHOD END-->
                <!--CREDIT CART PAYMENT-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span><i class="glyphicon glyphicon-lock"></i></span> THANH TOÁN
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="">
                                    <h2
                                            style="
                          font-family: Tahoma;
                          font-weight: 600;
                          text-align: center;
                          color: rgb(215, 92, 92);
                        "
                                    >
                                        Tổng Thanh Toán: <span name="tongThanhToan">0</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr style="font-weight: 700"/>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <strong>Hình thức thanh toán</strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="">
                                    <option value="01">Tiền Mặt</option>
                                    <option value="02">Chuyển Khoản</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong>Phụ Phí</strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>Tiền Khách Đưa</strong>
                                <input type="text" name="san" class="form-control"/>
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Tiền Trả Lại</strong>
                                <input
                                        disabled
                                        type="text"
                                        name="last_name"
                                        class="form-control"
                                        value="1000Đ"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <hr style="font-weight: 700"/>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <a
                                        type="button"
                                        class="btn btn-danger btn-lg"
                                        style="border-radius: 10px"
                                        href="/api/v1/staff/thanh-toan/view-hoa-don"
                                >
                                    Trở Về
                                </a>
                                <button
                                        type="button"
                                        class="btn btn-success btn-lg"
                                        style="border-radius: 10px"
                                >
                                    Thanh Toán
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CREDIT CART PAYMENT END-->
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var currentURL = window.location.href;
        var parts = currentURL.split('/');
        var id = parts[parts.length - 1];

        $.get("/api/v1/staff/thanh-toan/thanh-toan-hoa-don/" + id, function (response) {
            var hoaDonThanhToan = response;
            $("input[name='tenSanBong']").val(hoaDonThanhToan.tenSanBong + ' - ' + hoaDonThanhToan.tenLoaiSan);
            $("input[name='tienCoc']").val(hoaDonThanhToan.tienCoc);
            $("input[name='tenCa']").val(hoaDonThanhToan.tenCa);
            $("input[name='thoiGianNhanSan']").val(hoaDonThanhToan.thoiGianCheckIn);
            $("input[name='thoiGianSanCa']").val(hoaDonThanhToan.thoiGianBatDau + ' - ' + hoaDonThanhToan.thoiGianKetThuc);
            $("input[name='soDienThoai']").val(hoaDonThanhToan.soDienThoai);
            $("input[name='tenKhachHang']").val(hoaDonThanhToan.tenKhachHang);
            $("input[name='tienSanBong']").val(hoaDonThanhToan.tongTienSanCa);
            $("input[name='tienDichVu']").val(hoaDonThanhToan.tongTienDichVu);
            $("span[name='tongThanhToan']").text(parseFloat(hoaDonThanhToan.tongTienSanCa) + parseFloat(hoaDonThanhToan.tongTienDichVu) - parseFloat(hoaDonThanhToan.tienCoc));
        });
    });


</script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</html>
