<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <!-- Mobiscroll JS and CSS Includes -->
    <link
            href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Quan Trọng -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--  -->
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/trang-chu.css}" rel="stylesheet">
    <link th:href="@{/static/css/user/calendar-customer-book-field.css}" rel="stylesheet">
    <link th:href="@{/static/css/calendar/mobiscroll.jquery.min.css}" rel="stylesheet">
</head>
<body>
<div class=" bg-white p-0">
    <!-- Navbar & Hero Start -->
    <!-- Start Header -->
    <div th:insert="~{fragments/header-admin}"></div>
    <!-- End Header -->
    <!-- Navbar & Hero End -->
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(29, 29, 39, 0.7)">
                <div class="modal-header border-0">
                    <button
                            type="button"
                            class="btn bg-white btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div
                        class="modal-body d-flex align-items-center justify-content-center"
                >
                    <div class="input-group" style="max-width: 600px">
                        <input
                                type="text"
                                class="form-control bg-transparent border-light p-3"
                                placeholder="Type search keyword"
                        />
                        <button class="btn btn-light px-4">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Service Start -->
    <div
            class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp mt-5"
            data-wow-delay="0.1s"
    >
        <h6 class="position-relative d-inline text-primary ps-4">
            NHÂN VIÊN
        </h6>
        <h2 class="mt-2">MÀN HÌNH NHẬN SÂN</h2>
    </div>
    <!--      Start Calendar-->
    <section class="container">
        <div class="card border-0 m-0 p-1">
            <div class="card-body">
                <div class="row">
                    <div
                            class="col-12 col-sm-12 col-md-2 p-1"
                            style="border-right: #171717 1px"
                    >
                        <div class="demo-multiple-select">
                            <div class="mbsc-form-group">
                                <div class="mbsc-form-group-title">
                                    <h5 class="text-center">Chọn Ngày</h5>
                                </div>
                                <div>
                                    <div class="mbsc-form-group">
                                        <div
                                                id="demo-single-select-date"
                                                class="datePicker"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-12 col-sm-12 col-md-7 p-1">
                        <div class="body-row-col">
                            <div>
                                <div id="calendar"></div>
                                <div id="myModal" class="modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header m-1">
                                                <h6 class="modal-title">Lựa Chọn Ca</h6>
                                                <span class="close" id="closeModal">&times;</span>
                                            </div>
                                            <div
                                                    class="modal-body"
                                                    style="max-height: 300px; overflow-y: auto"
                                            >
                                                <!-- ca -->
                                                <div class="row">
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 1:</strong>
                                  <span>07:00 - 09:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Đang trống</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 2:</strong>
                                  <span>09:00 - 11:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Chờ nhận sân</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 3:</strong>
                                  <span>13:00 - 15:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Đang sử dụng</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 4:</strong>
                                  <span>15:00 - 17:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Quá giờ</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 5:</strong>
                                  <span>17:00 - 19:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Chờ thanh toán</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-12 mt-1">
                                                        <label class="checkbox-button">
                                                            <input
                                                                    type="checkbox"
                                                                    class="custom-checkbox"
                                                            />
                                                            <span class="checkbox-label">
                                  <strong>Ca 6:</strong>
                                  <span>20:00 - 21:00</span><br />
                                  <strong>Giá ca:</strong>
                                  <span>700.000 VND</span><br />
                                  <strong>Trạng thái ca:</strong>
                                  <span>Chờ nhận sân</span>
                                  <div class="m-1">
                                    <input type="number" value="1" min="1" />
                                  </div>
                                </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- end ca -->
                                                <!-- ngày -->
                                                <div>
                                                    <div class="header m-1">
                                                        <h6 class="modal-title">Đặt Lịch</h6>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div>
                                                                <select
                                                                        class="custom-select"
                                                                        name="tinhTrang"
                                                                        id="dateSelect"
                                                                >
                                                                    <option value="0" selected>
                                                                        Theo ngày
                                                                    </option>
                                                                    <option value="1">Nhiều ngày</option>
                                                                    <option value="2">Theo tuần</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="mbsc-form-group m-0 p-0">
                                                                <div id="demo-multi-day"></div>
                                                                <div id="demo-range-selection"></div>
                                                                <div id="demo-week-select"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end ngày -->
                                            </div>
                                            <div class="modal-footer">
                                                <div class="d-flex flex-row-reverse bd-highlight">
                                                    <div class="p-1 bd-highlight">
                                                        <button
                                                                type="button"
                                                                class="btn btn-success"
                                                                id="luuCaCellDay"
                                                        >
                                                            <i
                                                                    class="far fa-save fa-lg m-1"
                                                                    style="color: #f2f2f3"
                                                            ></i>
                                                            Lưu Ca
                                                        </button>
                                                    </div>
                                                    <div class="p-1 bd-highlight">
                                                        <button
                                                                type="button"
                                                                class="btn btn-danger"
                                                                onclick="closeModal()"
                                                        >
                                                            <i
                                                                    class="fas fa-times fa-lg m-1"
                                                                    style="color: #f5f5f5"
                                                            ></i>
                                                            Hủy
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 p-1">
                        <div class="body-row-col">
                            <div class="header-text-body">
                                <h5>Sự Kiện</h5>
                                <hr />
                            </div>
                            <div>
                                <table
                                        class="table table-bordered table-hover"
                                        style="color: black"
                                >
                                    <thead>
                                    <tr>
                                        <th>Thông Tin ca</th>
                                        <th>Số lượng</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/lib/wow/wow.min.js}"></script>
<script th:src="@{/static/lib/easing/easing.min.js}"></script>
<script th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>
<!-- END Full Calendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/vi.js"></script>

<!-- Template Javascript -->
<script th:src="@{/static/js/main.js}"></script>
<!--    <script th:src="@{/static/js/calendar/calendar-custom-book.js}"></script>-->
<script th:src="@{/static/js/lib/mobiscroll.jquery.min.js}"></script>
<script>
    // Biến lưu trữ đối tượng lịch để sử dụng trong openModal
    var calendar;
    // Biến để theo dõi ô cell cuối cùng được click
    var lastClickedDate = null;
    // Biến để theo dõi số lần click
    var clickCount = 0;
    //  Biến calendar để lưu tạm
    var selectedDateFromFullCalendar; // Declare a global variable to store the selected date
    var mobiscrollInstanceSingleSelectDate;
    var mobiscrollInstanceMultiSelectDate;
    var mobiscrollInstanceSelectWeek;
    var mobiscrollInstanceSelectRangeDay;
    // Lấy ra table của
    var tableBody = document.querySelector("table tbody");
    // Config FullCalendar
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        calendar = new FullCalendar.Calendar(calendarEl, {
            selectable: true,
            headerToolbar: {
                left: "prev,next,today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay",
            },
            // Set the locale to Vietnamese
            locale: "vi",
            views: {
                dayGridMonth: {
                    // Customize the "dayGridMonth" view name
                    titleFormat: { year: "numeric", month: "long" },
                },
                timeGridWeek: {
                    // Customize the "timeGridWeek" view name
                    titleFormat: { year: "numeric", month: "short", day: "numeric" },
                },
                timeGridDay: {
                    // Customize the "timeGridDay" view name
                    titleFormat: { year: "numeric", month: "long", day: "numeric" },
                },
            },
            //  Config cho click vào cell day hiển thị modal
            dateClick: function (info) {
                if (
                    lastClickedDate &&
                    info.date.getTime() !== lastClickedDate.getTime()
                ) {
                    // Kiểm tra nếu đã click vào ô cell khác, đặt lại clickCount thành 1
                    clickCount = 1;
                } else if (clickCount == 3) {
                    clickCount = 1;
                } else {
                    clickCount++;
                }

                if (clickCount == 1) {
                    // hiện thị ca đã chọn
                    handleCalendarDateClick(info.date);
                    //
                    var selectDateClickShowEvent = info.date;
                    var eventsClickShowEvent = calendar.getEvents();

                    // Lọc sự kiện cho ngày được click
                    var eventsForSelectedDate = eventsClickShowEvent.filter(function (
                        event
                    ) {
                        return isSameDay(event.start, selectDateClickShowEvent);
                    });
                    // Hiển thị các sự kiện trong bảng
                    displayEventsInTable(eventsForSelectedDate);

                    console.log(eventsForSelectedDate);
                    //check
                    console.log("hiện thị ca đã chọn -Click count: " + clickCount);
                    // Click 1 lần đóng modal
                    closeModal();
                } else if (clickCount == 2) {
                    selectedDateFromFullCalendar = info.date;

                    var cellElement = info.dayEl; // Lấy đối tượng DOM của ô cell đã click
                    var modal = document.getElementById("myModal");

                    // Lấy ngày trong tuần của ô cell (0 là Chủ Nhật, 6 là Thứ Bảy)
                    var dayOfWeek = info.date.getDay();

                    // Lấy kích thước và vị trí của ô cell và modal
                    var cellRect = cellElement.getBoundingClientRect();
                    var modalRect = modal.getBoundingClientRect();

                    // LAMNP FIX MODAL RESULT LEFT ON 7, CN
                    // Điều chỉnh vị trí top và left của modal
                    var modalTop =
                        cellRect.top + cellRect.height / 2 - modalRect.height / 2;
                    var modalLeft = cellRect.left + cellRect.width;

                    // Kiểm tra xem cell có phải là Thứ 7 hoặc Chủ Nhật không
                    if (dayOfWeek === 0) {
                        // Nếu là Chủ Nhật, di chuyển sang trái 2 ngày
                        modalLeft -= cellRect.width * 5;
                    } else if (dayOfWeek === 6) {
                        // Nếu là Thứ Bảy, di chuyển sang trái 1 ngày
                        modalLeft -= cellRect.width * 5;
                    }

                    // LAMNP NODE : Nó đang ăn theo thằng thứ 7 và chủ nhật
                    // Thiết lập vị trí của modal
                    modal.style.top = modalTop - 15 + "px";
                    modal.style.left = modalLeft - 30 + "px";

                    // Cái này dùng để cố định modal khi di cuộn màn hình
                    // Triển làm
                    modal.style.position = "absolute";

                    // Đặt kích thước mặc định cho modal
                    modal.style.width = "auto";
                    modal.style.maxHeight = "auto";

                    // Hiển thị modal
                    modal.classList.add("visible");

                    // Đặt sự kiện để đóng modal khi người dùng click vào nút đóng (X)
                    document
                        .getElementById("closeModal")
                        .addEventListener("click", function () {
                            modal.classList.remove("visible");
                        });
                    console.log(" hiện modal chọn ca-Click count: " + clickCount);
                } else {
                    // Click 3 lần đóng modal
                    closeModal();
                    // Check
                    console.log("đóng modal -Click count: " + clickCount);
                }
                lastClickedDate = info.date;
            },
        });

        // Full calendar rendar
        calendar.render();

        document
            .getElementById("myModal")
            .addEventListener("click", function () {
                if (lastClickedDate) {
                    // Chọn lại ô cell trước đó khi click trên modal
                    calendar.select(lastClickedDate);
                }
            });
    });

    // LAMNP 17/10/2023
    // ADD sự kiện click vào cell day có ca hiển thị sang thông tin
    // Hàm để hiển thị các sự kiện trong bảng
    function displayEventsInTable(events) {
        // Xóa tất cả dữ liệu cũ trong bảng
        tableBody.innerHTML = "";
        // Thêm các sự kiện mới vào bảng
        events.forEach(function (event) {
            // Chuyển đổi một thời gian cụ thể sang múi giờ Việt Nam
            // Sử dụng múi giờ Việt Nam (GMT+7)
            const startTimeVietnam = event.start.toLocaleTimeString("en-US", {
                timeZone: "Asia/Ho_Chi_Minh",
                hour: "2-digit",
                minute: "2-digit",
            });
            const endTimeVietnam = event.end.toLocaleTimeString("en-US", {
                timeZone: "Asia/Ho_Chi_Minh",
                hour: "2-digit",
                minute: "2-digit",
            });
            // mai làm tiếp 18/10/2023

            addToTable(event.title, 1, startTimeVietnam, endTimeVietnam);
        });
    }

    // Hàm để so sánh hai ngày xem chúng có cùng một ngày khôngs
    function isSameDay(date1, date2) {
        return (
            date1.getDate() === date2.getDate() &&
            date1.getMonth() === date2.getMonth() &&
            date1.getFullYear() === date2.getFullYear()
        );
    }

    // Hàm để thêm thông tin ca vào bảng
    function addToTable(caInfo, soLuong, timeStart, timeEnd) {
        var row = tableBody.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        cell1.textContent = caInfo + ": " + timeStart + " - " + timeEnd;
        cell2.textContent = soLuong;

        var deleteButton = document.createElement("button");
        deleteButton.textContent = "Xóa";

        deleteButton.addEventListener("click", function () {
            row.remove();
        });

        cell3.appendChild(deleteButton);
    }

    //  LAMNP
    //  SET UP CALENDAR MOBISCROLL
    mobiscroll.setOptions({
        locale: mobiscroll.localeEn,
        theme: "material",
        themeVariant: "light",
    });

    // ADD EVENT CELL DAY
    document
        .getElementById("luuCaCellDay")
        .addEventListener("click", function () {
            // Click vào check box trước
            var checkboxes = document.querySelectorAll(".custom-checkbox");
            //
            var events = [];
            var selectComboboxDateChoise = document.getElementById("dateSelect");
            checkboxes.forEach(function (checkbox) {
                // Kiểm tra xem checkbox có được chọn (checked) hay không
                var checkboxButton = checkbox.parentElement;

                if (checkbox.checked) {
                    var inputElement = checkboxButton.querySelector(
                        "input[type='number']"
                    );
                    // Lấy content bên trong thẻ Strong
                    var caNameElement = checkboxButton.querySelector("strong");

                    // Lấy thông tin trong <span class="checkbox-label">
                    var strongElements = checkboxButton.querySelectorAll("strong");
                    var spanElements = checkboxButton.querySelectorAll("span");

                    // Lấy các thông tin cụ thể
                    var ca = strongElements[0].textContent; // Giá trị của "Ca 5:"
                    var thoiGian = spanElements[1].textContent; // Giá trị của "07:00 - 09:00"
                    var giaCa = spanElements[2].textContent; // Giá

                    // Sử dụng phương thức split() để tách chuỗi thành một mảng dựa trên dấu cách và gạch ngang
                    var parts = thoiGian.split(" - ");

                    // Lấy phần tử đầu tiên của mảng (07:00) và phần tử thứ hai của mảng (09:00)
                    var batDau = parts[0];
                    var ketThuc = parts[1];

                    //
                    if (caNameElement) {
                        // Lấy nội dung của phần tử `<strong>` (trong trường hợp này, "Ca 6")
                        var caName = caNameElement.textContent.split(":")[0];
                        // Lấy ra ngày chọn trong mobiscroll modal
                        var selectedDateMultiInModal =
                            $("#demo-multi-day").mobiscroll("getVal");
                        var selectedDateRangeInModal = $(
                            "#demo-range-selection"
                        ).mobiscroll("getVal");
                        var selectedWeekInModal =
                            $("#demo-week-select").mobiscroll("getVal");

                        //
                        if (selectComboboxDateChoise.value == 0) {
                            selectedDateMultiInModal.forEach(function (date) {
                                var day = date.getDate();
                                var month = date.getMonth();
                                var year = date.getFullYear();
                                // Tạo đối tượng sự kiện cho ngày này
                                var event = {
                                    title: caName,
                                    start: new Date(
                                        year,
                                        month,
                                        day,
                                        parseInt(batDau.split(":")[0]), // Giờ bắt đầu
                                        parseInt(batDau.split(":")[1]) // Phút bắt đầu
                                    ),
                                    end: new Date(
                                        year,
                                        month,
                                        day,
                                        parseInt(ketThuc.split(":")[0]), // Giờ kết thúc
                                        parseInt(ketThuc.split(":")[1]) // Phút kết thúc
                                    ),
                                    allDay: false, // Đặt thành false nếu bạn muốn sự kiện có thời gian cụ thể
                                    color: "rgba(169, 211, 242, 0.9)", // Màu nền cho sự kiện
                                };
                                var element = parseInt(inputElement.value);
                                console.log(element);
                                for (let i = 0; i < element; i++) {
                                    events.push(event);
                                }
                                closeModal();
                            });
                        } else if (selectComboboxDateChoise.value == 1) {
                            selectedDateRangeInModal.forEach(function (date) {
                                var day = date.getDate();
                                var month = date.getMonth();
                                var year = date.getFullYear();

                                // Tạo đối tượng sự kiện cho ngày này
                                var event = {
                                    title: caName,
                                    start: new Date(
                                        year,
                                        month,
                                        day,
                                        batDau.split(":")[0],
                                        batDau.split(":")[1]
                                    ), // Thêm giờ bắt đầu và phút bắt đầu
                                    end: new Date(
                                        year,
                                        month,
                                        day,
                                        ketThuc.split(":")[0],
                                        ketThuc.split(":")[1]
                                    ), // Thêm giờ kết thúc và phút kết thúc
                                    allDay: false, // Đặt thành false nếu bạn muốn sự kiện có thời gian cụ thể
                                };
                                inputElement.forEach(function () {
                                    events.push(event);
                                });
                            });
                        } else if (selectComboboxDateChoise.value == 2) {
                            selectedWeekInModal.forEach(function (date) {
                                var day = date.getDate();
                                var month = date.getMonth();
                                var year = date.getFullYear();

                                // Tạo đối tượng sự kiện cho ngày này
                                var event = {
                                    title: caName,
                                    start: new Date(
                                        year,
                                        month,
                                        day,
                                        batDau.split(":")[0],
                                        batDau.split(":")[1]
                                    ), // Thêm giờ bắt đầu và phút bắt đầu
                                    end: new Date(
                                        year,
                                        month,
                                        day,
                                        ketThuc.split(":")[0],
                                        ketThuc.split(":")[1]
                                    ), // Thêm giờ kết thúc và phút kết thúc
                                    allDay: false, // Đặt thành false nếu bạn muốn sự kiện có thời gian cụ thể
                                };
                                inputElement.forEach(function () {
                                    events.push(event);
                                });
                            });
                        }
                    }
                }
            });
            calendar.addEventSource(events);
            // Thêm sự kiện vào FullCalendar
            calendar.render(); // Cập nhật lịch sau khi thêm sự kiện
        });

    $(function () {
        // MULTI
        $("#demo-multi-day")
            .mobiscroll()
            .datepicker({
                controls: ["calendar"],
                display: "inline",
                selectMultiple: true,
            });

        // COUNTER
        $("#demo-range-selection")
            .mobiscroll()
            .datepicker({
                controls: ["calendar"], // More info about controls: https://docs.mobiscroll.com/5-27-1/calendar#opt-controls
                display: "inline", // Specify display mode like: display: 'bottom' or omit setting to use default
                rangeSelectMode: "wizard",
                select: "range", // More info about select: https://docs.mobiscroll.com/5-27-1/calendar#opt-select
                showRangeLabels: true,
            });

        // SINGLE
        $("#demo-single-select-date")
            .mobiscroll()
            .datepicker({
                controls: ["calendar"],
                display: "inline",
                selectMultiple: false,
            });

        //  WEEK
        $("#demo-week-select")
            .mobiscroll()
            .datepicker({
                controls: ["calendar"],
                select: "preset-range",
                display: "inline",
                // firstSelectDay: 1,
                selectSize: 14,
            });
    });

    $(function () {
        $("#demo-single-select-date")
            .mobiscroll()
            .datepicker({
                controls: ["calendar"],
                display: "inline",
                locale: mobiscroll.localeVi,
                onChange: function (event, inst) {
                    var selectedDate = inst.getVal();
                    var year = selectedDate.getFullYear();
                    var month = selectedDate.getMonth(); // Tháng bắt đầu từ 0
                    var day = selectedDate.getDate();

                    var newDate = new Date(year, month, day);
                    //chọn ngày trên lịch nhỏ Đặt ngày trên FullCalendar
                    calendar.gotoDate(newDate);
                    calendar.select(newDate);
                },
            });
        mobiscrollInstanceSingleSelectDate = $(
            "#demo-single-select-date"
        ).mobiscroll("getInst");
        // Từ Ful Calendar sang modal
        mobiscrollInstanceMultiSelectDate =
            $("#demo-multi-day").mobiscroll("getInst");
        mobiscrollInstanceSelectWeek =
            $("#demo-week-select").mobiscroll("getInst");
        mobiscrollInstanceSelectRangeDay = $(
            "#demo-range-selection"
        ).mobiscroll("getInst");
    });

    // Hàm chọn từ Fulcalendar -> lịch bé
    function handleCalendarDateClick(selectedDate) {
        mobiscrollInstanceSingleSelectDate.setVal(selectedDate);
        mobiscrollInstanceMultiSelectDate.setVal(selectedDate);
        mobiscrollInstanceSelectWeek.setVal(selectedDate);
        mobiscrollInstanceSelectRangeDay.setVal(selectedDate);
    }

    // LAMNP 14/10/2023
    // SỬ LÝ SỰ KIỆN SHOW LỊCH KHI CUS CHỌN ĐẶT LỊCH THEO NGÀY, TUẦN, THÁNG
    // Lấy tham chiếu đến select và các div cần ẩn/hiển thị
    var dateSelect = document.getElementById("dateSelect");
    // Select type choise clendar
    var demoMultiDay = document.getElementById("demo-multi-day");
    var demoRange = document.getElementById("demo-range-selection");
    var demoWeek = document.getElementById("demo-week-select");

    // Ẩn mặc định hai calendar
    demoRange.style.display = "none";
    demoWeek.style.display = "none";

    // Gắn sự kiện change cho select
    dateSelect.addEventListener("change", function () {
        // Lấy giá trị được chọn trong select
        var selectedValue = dateSelect.value;

        // Ẩn tất cả các div trước
        demoMultiDay.style.display = "none";
        demoRange.style.display = "none";
        demoWeek.style.display = "none";

        // Hiển thị div tương ứng dựa trên giá trị được chọn
        if (selectedValue === "0") {
            demoMultiDay.style.display = "block";
        } else if (selectedValue === "1") {
            demoRange.style.display = "block";
        } else if (selectedValue === "2") {
            demoWeek.style.display = "block";
        }
    });

    // LAMNP 14/10/2023
    // hàm dùng chung đóng modal
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.classList.remove("visible");
    }

</script>

</body>
</html>
