<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicon -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/authen/login.css}" rel="stylesheet">

    <link th:href="@{/static/css/style.css}" rel="stylesheet">
    <!-- Template Stylesheet -->
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form th:action="@{/authentication/sign-up}" method="post" th:object="${account}">
            <h1>Create Account</h1>
            <span>or use your email for registration</span>
            <input type="text" th:name="account" placeholder="Account"/>
            <input type="text" th:name="displayName" placeholder="DisplayName"/>
            <input type="text" th:name="phoneNumber" placeholder="PhoneNumber"/>
            <input type="password" th:name="password" placeholder="Password"/>
            <input type="password" th:name="rePassword" placeholder="RePassword"/>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
            <h1>Sign in</h1>
            <div class="social-container">
                <a style="background-color: red" th:href="@{/oauth2/authorization/google}" class="social"><i
                        class="fab fa-google-plus-g" style="background-color: red;color: white"></i></a>
            </div>
            <span>or use your account</span>
            <input type="text" th:name="username" placeholder="Username"/>
            <input type="password" th:name="password" placeholder="Password"/>
            <a th:href="@{/authentication/home-login}">Quay lại !</a>
            <div th:if="${param.error}">
                <span style="color: red">Invalid User or Password</span>
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>
                    To keep connected with us please login with your personal info
                </p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="text-white mb-4 animated zoomIn">
                    CHƠI HẾT MÌNH, CHƠI ĐỂ TẬN HƯỞNG
                </h1>
                <p class="text-white pb-3 animated zoomIn">
                    Tài năng của bạn sẽ quyết định những gì bạn có thể làm. Động lực
                    của bạn sẽ quyết định mức độ bạn sẵn sàng làm. Thái độ của bạn sẽ
                    quyết định bạn làm điều đó như thế nào
                </p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/custom/login.js}"></script>
</body>
</html>
