<div
  class="container-fluid bg-primary text-light footer mt-5 pt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5 px-lg-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Sân Bóng VN</h5>
        <p><i class="fa fa-map-marker-alt me-3"></i>Số 1, Trịnh Văn Bô</p>
        <p><i class="fa fa-phone-alt me-3"></i>0356169620</p>
        <p><i class="fa fa-envelope me-3"></i>triendoan4432@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Thông tin</h5>
        <a class="btn btn-link" href="">Về Chúng Tôi</a>
        <a class="btn btn-link" href="">Liên Hệ</a>
        <a class="btn btn-link" href="">Dự Án</a>
        <a class="btn btn-link" href="">Tuyển Dụng</a>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Dự Án Chúng Tôi</h5>
        <div class="row g-2">
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-1.jpg"
              alt="Image"
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-2.jpg"
              alt="Image"
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-3.jpg"
              alt="Image"
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-4.jpg"
              alt="Image"
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-5.jpg"
              alt="Image"
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid"
              src="../../static/img/portfolio-6.jpg"
              alt="Image"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Bóng Đá Việt Nam</h5>
        <p>Vì Tương Lai Bóng Đá Việt Nam</p>
        <div class="position-relative w-100 mt-3">
          <input
            class="form-control border-0 rounded-pill w-100 ps-4 pe-5"
            type="text"
            placeholder="Your Email"
            style="height: 48px"
          />
          <button
            type="button"
            class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"
          >
            <i class="fa fa-paper-plane text-primary fs-4"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-lg-5">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <a class="border-bottom" href="#">
            <p>Bản Quyền Thuộc Về triendoan4432@gmail.com</p>
          </a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
