.container {
    max-width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    /* border-radius: 0 0 0 0; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.body-row-col {
    padding: 5px;
    background: #fff;
    border-radius: 0 0 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-text-body {
    text-align: center;
    font-size: 20px;
}

.card-type-custom {
    max-width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 0 0;
}

label {
    font-size: 15px;
    color: #171717;
}

/* --------------------------------- */

#myModal1 .modal-content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 2px;
}

#myModal1 .close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
    color: #888;
}

#myModal1 .modal-header, #myModal1  .modal-title{
    background: #f7941e;
    color: #fff;
    font-size: 25px;
}

.visible {
    display: block;
}

.date-text {
    font-size: 18px;
}

input::placeholder {
    color: white;
}

/* modal header background 20/10/2023 */
#modalInfo .modal-header,  #modalInfo .modal-title{
    color: #fff;
    font-size: 25px;
    background: #f7941e;
}
/* Tùy chỉnh màu nền và màu chữ cho nút "prev" */
.fc-prev-button {
    background-color: #008000; /* Màu nền */
    color: #fff; /* Màu chữ */
}

/* Tùy chỉnh màu nền và màu chữ cho nút "next" */
.fc-next-button {
    background-color: #008000; /* Màu nền */
    color: #fff; /* Màu chữ */
}

/* Tùy chỉnh màu nền và màu chữ cho nút "today" */
.fc-today-button {
    background-color: #008000; /* Màu nền */
    color: #fff; /* Màu chữ */
}

/* Hover state cho các nút */
.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
    background-color: #006600; /* Màu nền khi di chuột qua */
}

/*  */
/* choise shift*/
/* LamNP */
/* Ẩn checkbox mặc định */
.checkbox-button {
    display: inline-block;
    background-color: #fff;
    color: black;
    border-radius: 0.5em;
    border: 2px solid #008000;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
}

/*LAMNP Cập nhập ngày 24/11*/
/*Dòng 144 modal-lg style="max-width: 700px"*/
.checkbox-label strong,
.checkbox-label span {
    margin: 2px;
    font-size: 15px; /* Điều chỉnh độ nhỏ của chữ tùy ý */
}

.checkbox-button input[type="checkbox"] {
    display: none;
}

.checkbox-button input[type="checkbox"]:checked + .checkbox-label {
    background-color: #008000;
    color: #fff;
}

.checkbox-button input[type="checkbox"]:disabled + .checkbox-label {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkbox-button .checkbox-label{
    font-size: 1em;
    line-height: 1.2;
    padding: 7px;
    flex: 1;
}

/* Cập nhật màu cho các trạng thái */
.checkbox-button input[type="checkbox"].qua-gio:disabled + .checkbox-label {
    background-color: rgb(102, 102, 101);
    cursor: not-allowed;
}

.checkbox-button
input[type="checkbox"].cho-nhan-san:disabled
+ .checkbox-label {
    background-color: rgb(231, 231, 77);
    cursor: not-allowed;
}

.checkbox-button
input[type="checkbox"].dang-su-dung:disabled
+ .checkbox-label {
    background-color: #008000;
    cursor: not-allowed;
}

.checkbox-button
input[type="checkbox"].cho-thanh-toan:disabled
+ .checkbox-label {
    background-color: rgb(44, 130, 235);
    cursor: not-allowed;
}

/* select option css 14/10 lamnp */

.custom-select {
    font-size: 12px; /* Điều chỉnh kích thước phông chữ */
    height: 30px; /* Điều chỉnh chiều cao của phần tử select */
    width: 150px; /* Điều chỉnh chiều rộng của phần tử select */
    border-radius: 0px;
}

/* css cho option select 20/10/2023 */
/* Thiết lập kiểu hiển thị của phần tử select */
.select-type-date {
    position: relative;
    display: inline-block;
    background-color: #ffff;
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

/* Định dạng phần tử select khi được chọn */
.select-type-date:hover {
    color: black;
}

/* Thiết lập kiểu hiển thị của mũi tên */
.select-type-date::after {
    content: "\25BC"; /* Mã Unicode của mũi tên xuống */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

/*  */
.select-loai-san {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 100%;
    height: 2.5em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
    no-repeat right 0.8em center/1.4em,
    linear-gradient(to left, #1a73e8, rgba(255, 255, 255, 0.2) 3em);
    color: black;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.select-loai-san option {
    color: inherit;
    background-color: #ffff;
}
.select-loai-san:focus {
    outline: none;
}
.select-loai-san::-ms-expand {
    display: none;
}

/*  */
.button-header {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    height: 2.5em;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.button-header:hover {
    background: #008168;
}

.button-header:active {
    background: #006e58;
}

.button__text,
.button__icon {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}

.button__icon {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.08);
}

/* CSS chung cho nút và văn bản */
.fc-button,
.fc-toolbar-title,
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
    /* font-size: 16px !important; */
    padding: 10px !important;
}

/* CSS cho các thiết bị có kích thước màn hình nhỏ hơn */
@media (max-width: 767px) {
    .fc-button {
        font-size: 14px !important;
        padding: 8px !important;
    }
    .fc-toolbar-title {
        font-size: 14px !important;
    }
}

/* CSS cho các thiết bị có kích thước màn hình rất nhỏ */
@media (max-width: 479px) {
    .fc-button {
        font-size: 12px !important;
        padding: 6px !important;
    }
    .fc-toolbar-title {
        font-size: 12px !important;
    }
}

@media (max-width: 319px) {
    .fc-button {
        font-size: 10px !important;
        padding: 4px !important;
    }
    .fc-toolbar-title {
        font-size: 10px !important;
    }
}

/* Tùy chỉnh màu nền và màu chữ cho nút "prev" */
.fc-button-primary {
    background-color: #1a73e8 !important; /* Màu nền */
    color: #fff; /* Màu chữ */
}

/* Tùy chỉnh màu nền và màu chữ cho nút "next" */
.fc-next-button {
    background-color: #1a73e8 !important; /* Màu nền */
    color: #fff; /* Màu chữ */
}

/* Tùy chỉnh màu nền và màu chữ cho nút "today" */
.fc-button {
    background-color: #1a73e8 !important ; /* Màu nền */
    color: #fff; /* Màu chữ */
}

.fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
    background-color: #1a73e8;
}

/* table form coppy for giao ca  */
.form-label {
    font-size: 16px;
    color: black;
}

/* input chon so lượng  ca trong modal*/
input.input-so-luong{
    width: auto;
    border-radius: 2px;
}


.mb-3 {
    margin-bottom: 15px;
}

.mains {
    /* border: 1px solid black; */
    padding: 10px 20px;
    /* box-shadow: 0 0 20px #c5c5c5; */
    /* transform: translateY(5px); */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
table th {
    text-align: center;
}

/* chú ý */
.form-control {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form-select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
}

.btn-labeled {
    /* padding-top: 0;
    padding-bottom: 0; */
    border-radius: 5px;
}

/*SCROLLL LAMNP*/

.table-container {
    max-height: 300px; /* Điều chỉnh độ cao tối đa của phần body */
    overflow-y: auto;
}

#myTable table {
    border-collapse: collapse;
    width: 100%;
}

#myTable th,
#myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#myTable th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

/* BUTTON XÁC NHẬN */
.button-header-confirm {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    height: 2.5em;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.button-header-confirm:hover {
    background: #008168;
}

.button-header-confirm:active {
    background: #006e58;
}

.button-text-confirm {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}

.button-text-confirm,
.button-icon-confirm {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}

.button-icon-confirm {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.08);
}

#modalConfirm .modal-header {
    background: #f7941e;
    /* color: #fff; */
}
/*  */
.table-responsive {
    margin: 30px 0;
}

#doiLichNhanh .modal-header, #doiLichNhanh .modal-title{
    background: #f7941e;
    color: #fff;
    font-size: 25px;
}