.text-header-man {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.body-row-col {
    padding: 10px;
    background: #fff;
    border-radius: 0 0 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-text-body {
    /* text-align: center; */
    font-weight: bold;
    font-size: 20px;
}

.card-type-custom {
    max-width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 0 0;
}

.header-table-giao-ca,
.header-text-filter {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #6e6e6e;
}

/*css cho thằng filter*/

.col-auto > .label-filter {
    color: black;
    font-size: 16px;
    /*font-weight: bold;*/
}


#select-status-admin,
#input-date-choice-admin {
    color: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.input-group .input-search-giao-ca-admin {
    color: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*end*/

.form-label {
    font-size: 16px;
    color: black;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
}

.mb-3 {
    margin-bottom: 15px;
}

.mains {
    /* border: 1px solid black; */
    padding: 10px 20px;
    /* box-shadow: 0 0 20px #c5c5c5; */
    /* transform: translateY(5px); */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    text-align: center;
}

.highlight-row {
    background-color: yellow; /* Màu nền hoặc màu sắc mong muốn */
}

