<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/static/css/user/book-soccer-field.css}" rel="stylesheet">
    <link th:href="@{/static/css/user/vertical-tabs-book-soccer-field.css}" rel="stylesheet">

</head>

<body>

<div class="bg-white">

    <!-- Start Header -->
    <div th:insert="~{fragments/header}"></div>
    <!-- End Header -->
    <!-- Service Start -->
    <section>
        <div class="container">
            <div
                    class="mt-5 section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
                    data-wow-delay="0.1s"
            >
                <h6 class="position-relative d-inline text-primary ps-4">
                    Sân Bóng VN
                </h6>
                <h2 class="mt-2">Đặt Sân</h2>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h1 class="text-header">Chức Năng</h1>
                        </div>
                        <ul class="indicator">
                            <li class="active" data-target="#tab-content-1">
                                <h1>Tab 1</h1>
                            </li>
                            <li data-target="#tab-content-2"><h1>Tab 2</h1></li>
                            <li data-target="#tab-content-3"><h1>Tab 3</h1></li>
                            <li data-target="#tab-content-4"><h1>Tab 4</h1></li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <!-- DANH SÁCH SÂN  -->
                <div class="col-xl-9">
                    <ul class="content w-100 m-0 p-0">
                        <li class="active" id="tab-content-1">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center">
                                    <h1 class="text-header">Danh Sách Sân</h1>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-ms-12 mt-3 mb-4">
                                            <div class="card card-content-body">
                                                <div
                                                        class="card-header d-flex justify-content-center"
                                                >
                                                    <h1>Sân 2</h1>
                                                </div>
                                                <div
                                                        class="bg-image hover-zoom ripple rounded ripple-surface"
                                                >
                                                    <img
                                                            src="../../static/img/test_san.png"
                                                            class="w-100"
                                                    />
                                                    <a href="#!">
                                                        <div class="hover-overlay">
                                                            <div
                                                                    class="mask"
                                                                    style="
                                      background-color: rgba(
                                        253,
                                        253,
                                        253,
                                        0.15
                                      );
                                    "></div>
                                                        </div>
                                                    </a>
                                                    <hr style="height: 1px" />
                                                    <div class="content-field-detail m-2">
                                                        <h5 class="d-flex justify-content-center">
                                                            Thông Tin Sân
                                                        </h5>
                                                        <h5>Loại sân : <span>7 người</span></h5>
                                                        <h5>
                                                            Trạng thái:
                                                            <span class="text-success">Hoạt động</span>
                                                            <!-- <span class="text-danger"
                                                              >Không Hoạt Động</span
                                                            > -->
                                                        </h5>
                                                    </div>
                                                </div>
                                                <!-- CARD Hiển THị Ca Theo Sân -->
                                                <div class="card-description">
                                                    <h5 class="card-title" style="text-align: center">
                                                        Danh Sách Ca Theo Sân
                                                    </h5>
                                                    <div class="box-croll">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="dang-trong"
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                              max-width: 100%;
                                            "
                                          >
                                            Ca 5: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="1" class=""
                                          >Đang trống</label
                                          >
                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="cho-nhan-san"
                                                                                disabled
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 2: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="2" class=""
                                          >Chờ nhận sân</label
                                          >
                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="dang-su-dung"
                                                                                disabled
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 3: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="3" class=""
                                          >Đang sử dụng</label
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="qua-gio"
                                                                                disabled
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 4: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="4" class=""
                                          >Quá giờ</label
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="cho-thanh-toan"
                                                                                disabled
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 5: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>7000.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="5" class=""
                                          >Chờ thanh toán</label
                                          >
                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input
                                                                                type="checkbox"
                                                                                class="cho-nhan-san"
                                                                                disabled
                                                                        />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 6: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <label value="6" class="text-danger"
                                          >Chờ Nhận Sân</label
                                          ></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-ms-12 mt-3 mb-4">
                                            <div class="card card-content-body">
                                                <div
                                                        class="card-header d-flex justify-content-center"
                                                >
                                                    <h1>Sân 2</h1>
                                                </div>
                                                <div
                                                        class="bg-image hover-zoom ripple rounded ripple-surface"
                                                >
                                                    <img
                                                            src="../../static/img/test_san.png"
                                                            class="w-100"
                                                    />
                                                    <a href="#!">
                                                        <div class="hover-overlay">
                                                            <div
                                                                    class="mask"
                                                                    style="
                                      background-color: rgba(
                                        253,
                                        253,
                                        253,
                                        0.15
                                      );
                                    "></div>
                                                        </div>
                                                    </a>
                                                    <hr style="height: 1px" />
                                                    <div class="content-field-detail m-2">
                                                        <h5 class="d-flex justify-content-center">
                                                            Thông Tin Sân
                                                        </h5>
                                                        <h5>Loại sân : <span>7 người</span></h5>
                                                        <h5>
                                                            Trạng thái:
                                                            <span class="text-success">Hoạt động</span>
                                                            <!-- <span class="text-danger"
                                                              >Không Hoạt Động</span
                                                            > -->
                                                        </h5>
                                                    </div>
                                                </div>
                                                <!-- CARD Hiển THị Ca Theo Sân -->
                                                <div class="card-description">
                                                    <h5 class="card-title" style="text-align: center">
                                                        Danh Sách Ca Theo Sân
                                                    </h5>
                                                    <div class="box-croll">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 5: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="">Đang Hoạt động</span></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" disabled />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 2: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="text-danger"
                                          >Không Hoạt động</span
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" disabled />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 3: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="text-danger"
                                          >Không Hoạt động</span
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" disabled />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 4: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="text-danger"
                                          >Không Hoạt động</span
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 5: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="text-danger"
                                          >Không Hoạt động</span
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                                <div
                                                                        class="col-md-12 mt-1 d-flex justify-content-center"
                                                                >
                                                                    <label class="checkbox-button">
                                                                        <input type="checkbox" />
                                                                        <span class="button-label">
                                          <span
                                                  style="
                                              font-size: 20px;
                                              font-weight: bold;
                                            "
                                          >
                                            Ca 6: <span>07:00 - 09:00</span>
                                          </span>
                                          <br />
                                          Giá sân: <span>700.000 VND</span>
                                          <br />
                                          Trạng thái:
                                          <span class="text-danger"
                                          >Không Hoạt động</span
                                          ></span
                                                                        >
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- content tab 2 -->
                        <li id="tab-content-2">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="text-header">Đơn Hàng 2</h1>
                                </div>
                                <div class="card-body">
                                    <div class="mt-4 mb-4"></div>
                                </div>
                            </div>
                        </li>
                        <!-- end content tab 2 -->
                        <!-- content tab 3 -->
                        <li id="tab-content-3">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="text-header">Đơn Hàng 3</h1>
                                </div>
                                <div class="card-body">
                                    <div class="mt-4 mb-4"></div>
                                </div>
                            </div>
                        </li>
                        <!-- end content tab 3-->
                        <!-- content tab 4 -->
                        <li id="tab-content-4">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="text-header">Đơn Hàng 4</h1>
                                </div>
                                <div class="card-body">
                                    <div class="mt-4 mb-4"></div>
                                </div>
                            </div>
                        </li>
                        <!-- end content tab 4 -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->


    <!-- Start Header -->
    <div th:insert="~{fragments/footer}"></div>
    <!-- End Header -->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/lib/wow/wow.min.js}"></script>
<script th:src="@{/static/lib/easing/easing.min.js}"></script>
<script th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/static/js/main.js}"></script>
<script th:src="@{/static/js/custom/vertical-tabs-book-soccer-field.js}"></script>
</body>
</html>
