<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/static/css/chi-tiet-san-bong.css}" rel="stylesheet">
</head>

<body>
<div class="container-xl bg-white  lg-8">

    <!-- Start Header -->
    <div th:insert="~{fragments/header}"></div>
    <!-- End Header -->

    <!-- Thân Bài -->
    <div
            class="section-title position-relative text-center mb-5 pb-2 mt-4 wow fadeInUp"
            data-wow-delay="0.1s"
    >
        <h6 class="position-relative d-inline text-primary ps-4">
            Our Services
        </h6>
        <h2 class="mt-2">Liên Hệ Đặt Sân</h2>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div
                        id="productCarousel"
                        class="carousel slide"
                        data-bs-ride="carousel"
                >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                    src="img/test_san.png"
                                    class="d-block w-100"
                                    alt="Product 1"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                    src="img/test_san.png"
                                    class="d-block w-100"
                                    alt="Product 2"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                    src="img/test_san.png"
                                    class="d-block w-100"
                                    alt="Product 3"
                            />
                        </div>
                    </div>
                    <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#productCarousel"
                            data-bs-slide="prev"
                    >
                <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#productCarousel"
                            data-bs-slide="next"
                    >
                <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                ></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="mt-2">Sân Cầu Giấy - Hà Nội</h2>
                <hr style="width: 30px; height: 3px"/>
                <p>Đánh giá:</p>
                <p>Địa chỉ:</p>
                <p>Giá:</p>
                <p>Trạng thái Sân:</p>
                <h3 class="mt-2 justify-content-between">
                    Lựa Chọn Ca & Khung Giờ Đá
                </h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p>Ca:</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Khung giờ:</p>
                        <div>
                            <table class="variations" role=""></table>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mt-4 w-50 h-100 w-75">
                    <button
                            style="height: 50px"
                            type="button"
                            class="btn btn-outline-primary border-3 btn-sm"
                    >
                        <span class="fw-bold fs-5">Đặt Sân</span>
                    </button>
                </div>
            </div>
            <!-- Tabs navs -->
            <div class="wrapper">
                <div class="tabs">
                    <ul class="nav-tabs">
                        <li class="active">
                            <a href="#menu_1"
                            ><i class="fas fa-cogs fa-fw me-2"></i>Tab 1</a
                            >
                        </li>
                        <li>
                            <a href="#menu_2"
                            ><i class="fas fa-cogs fa-fw me-2"></i>Tab 2</a
                            >
                        </li>
                        <li>
                            <a href="#menu_3"
                            ><i class="fas fa-cogs fa-fw me-2"></i>Tab 3</a
                            >
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="menu_1" class="tab-content-item">
                            <h2 class="text-title-tab">Thông tin tab 1</h2>
                            <div class="row">
                                <div
                                        class="col-lg-6 col-md-6 col-ms-12 d-flex justify-content-center"
                                >
                                    <h2>Thông tin bên trái</h2>
                                </div>
                                <div
                                        class="col-lg-6 col-md-6 col-ms-12 d-flex justify-content-center"
                                >
                                    <h2>Thông tin bên phải</h2>
                                </div>
                            </div>
                        </div>
                        <div id="menu_2" class="tab-content-item">
                            <h2 class="text-title-tab">Thông tin tab 2</h2>
                        </div>
                        <div id="menu_3" class="tab-content-item">
                            <h2 class="text-title-tab">Thông tin tab 3</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thân Bài -->

    <!-- Start Header -->
    <div th:insert="~{fragments/footer}"></div>
    <!-- End Header -->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
></script>
<script th:src="@{/static/lib/wow/wow.min.js}"></script>
<script th:src="@{/static/lib/easing/easing.min.js}"></script>
<script th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/static/js/main.js}"></script>
<script th:src="@{/static/js/custom/chi-tiet.js}"></script>

</body>
</html>
