<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>SÂN BÓNG VN</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
          rel="stylesheet"
  />

  <!-- Icon Font Stylesheet -->
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet"
  />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet"
  />

  <!-- Libraries Stylesheet -->
  <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet" />
  <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/static/css/san-bong.css}" rel="stylesheet">
</head>

<body>
<div class=" bg-white  lg-8">

  <!-- Start Header -->
  <div th:insert="~{fragments/header}"></div>
  <!-- End Header -->

  <!-- Service Start -->
  <div
          class="section-title position-relative text-center mb-5 mt-5 pb-2 wow fadeInUp"
          data-wow-delay="0.1s"
  >
    <h6 class="position-relative d-inline text-primary ps-4">
      Our Services
    </h6>
    <h2 class="mt-2">Liên Hệ Đặt Sân</h2>
  </div>

  <div class="container pt-3">
    <div class="row">
      <!-- category start -->
      <div class="col-lg-3">
        <div class="container">
          <div
                  class="card"
                  style="
                  background: #fff;
                  border-radius: 0 0 0 0;
                  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                "
          >
            <div class="card-header">
              <h4 class="mt-0">
                Hiển Thị <span class="text-primary">12</span> Sân
              </h4>
            </div>
            <div class="card-body">
              <div class="accordions">
                <div class="accordions-item active">
                  <div class="accordions-header">
                    <h3>Thuộc Tính</h3>
                    <i class="arrow fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="accordions-body">
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-1"
                        />
                        <label class="custom-control-label" for="category-1"
                        >Accessories</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-2"
                        />
                        <label class="custom-control-label" for="category-2"
                        >Coats &amp; Jackets</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-3"
                        />
                        <label class="custom-control-label" for="category-3"
                        >Hoodies &amp; Sweatshirts</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-4"
                        />
                        <label class="custom-control-label" for="category-4"
                        >Jeans</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-5"
                        />
                        <label class="custom-control-label" for="category-5"
                        >Shirts</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="category-6"
                        />
                        <label class="custom-control-label" for="category-6"
                        >Underwear</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="divider mt-3 mb-3 border-bottom border-secondary"
              ></div>
              <div class="accordions">
                <div class="accordions-item active">
                  <div class="accordions-header">
                    <h3>Kích Thước Sân</h3>
                    <i class="arrow fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="accordions-body">
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="filter-size-1"
                        />
                        <label
                                class="custom-control-label"
                                for="filter-size-1"
                        >X-Small</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="filter-size-2"
                        />
                        <label
                                class="custom-control-label"
                                for="filter-size-2"
                        >Small</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="filter-size-3"
                        />
                        <label
                                class="custom-control-label"
                                for="filter-size-3"
                        >Medium</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="filter-size-4"
                        />
                        <label
                                class="custom-control-label"
                                for="filter-size-4"
                        >Large</label
                        >
                      </div>
                    </div>
                    <div class="mt-2 mb-2 pl-2">
                      <div class="custom-control custom-checkbox">
                        <input
                                type="checkbox"
                                class="custom-control-input"
                                id="filter-size-5"
                        />
                        <label
                                class="custom-control-label"
                                for="filter-size-5"
                        >X-Large</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="divider mt-3 mb-3 border-bottom border-secondary"
              ></div>
              <div class="accordions">
                <div class="accordions-item active">
                  <div class="accordions-header">
                    <h3>Giá Thành</h3>
                    <i class="arrow fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="accordions-body">
                    <div class="price-filter-control">
                      <input
                              type="number"
                              class="form-control pull-left mb-2"
                              value="50"
                              id="price-min-control"
                      />
                      <input
                              type="number"
                              class="form-control pull-right"
                              value="150"
                              id="price-max-control"
                      />
                    </div>
                    <input
                            id="ex2"
                            type="text"
                            class="slider"
                            value="50,150"
                            data-slider-min="10"
                            data-slider-max="200"
                            data-slider-step="5"
                            data-slider-value="[50,150]"
                            data-value="50,150"
                            style="display: none"
                    />
                  </div>
                </div>
              </div>
              <div
                      class="divider mt-2 mb-1 border-bottom border-secondary"
              ></div>
              <a
                      href="#"
                      class="btn d-flex justify-content-center btn-md btn-block btn-primary mt-5"
              >Cập Nhập Hiển Thị</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- end category -->
      <!-- content start-->
      <div class="col-lg-9">
        <!-- top search page -->
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-6 col-lg-6">
              <div
                      class="text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0"
              >
                <label class="mr-2">Sort by:</label>
                <a
                        class="btn btn-lg btn-light dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                  Dropdown link
                </a>
                <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                    >Something else here</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <div
                      class="text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0"
              >
                <label class="mr-2">Hiển Thị:</label>
                <a
                        class="btn btn-lg btn-light dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                  Dropdown link
                </a>
                <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="#">12</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">24</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">30</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end top search page -->
          <div class="row mb-3">
            <div class="col-md-12 col-xl-12">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-4 mb-4 mb-lg-0">
                      <div
                              class="bg-image hover-zoom ripple rounded ripple-surface"
                      >
                        <img src="img/test_san.png" class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div
                                    class="mask"
                                    style="
                                    background-color: rgba(253, 253, 253, 0.15);
                                  "
                            ></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-5">
                      <h5>Sân 1</h5>
                      <div class="d-flex flex-row">
                        <div class="ms-auto text-warning">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fas fa-star-half-alt"></i
                          ><i class="far fa-star"></i>
                        </div>
                        <span>310</span>
                      </div>
                      <div class="mt-1 mb-0 text-muted small">
                        <span>100% cotton</span>
                        <span class="text-primary"> • </span>
                        <span>Light weight</span>
                        <span class="text-primary"> • </span>
                        <span>Best finish<br /></span>
                      </div>
                      <div class="mb-2 text-muted small">
                        <span>Unique design</span>
                        <span class="text-primary"> • </span>
                        <span>For men</span>
                        <span class="text-primary"> • </span>
                        <span>Casual<br /></span>
                      </div>
                      <p class="text-truncate mb-4 mb-md-0">xxx</p>
                    </div>
                    <div
                            class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                    >
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1">400.000 đ</h4>
                        <span class="text-danger"><s>$20.99</s></span>
                      </div>
                      <h6 class="text-success">Free shipping</h6>
                      <div class="d-flex flex-column mt-4">
                        <button
                                class="btn btn-primary btn-sm"
                                type="button"
                        >
                          Chi Tiết
                        </button>
                        <button
                                class="btn btn-outline-primary btn-sm mt-2"
                                type="button"
                        >
                          Đặt Sân
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12 col-xl-12">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-4 mb-4 mb-lg-0">
                      <div
                              class="bg-image hover-zoom ripple rounded ripple-surface"
                      >
                        <img src="img/test_san.png" class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div
                                    class="mask"
                                    style="
                                    background-color: rgba(253, 253, 253, 0.15);
                                  "
                            ></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-5">
                      <h5>Quant olap shirts</h5>
                      <div class="d-flex flex-row">
                        <div class="ms-auto text-warning">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fas fa-star-half-alt"></i
                          ><i class="far fa-star"></i>
                        </div>
                        <span>289</span>
                      </div>
                      <div class="mt-1 mb-0 text-muted small">
                        <span>100% cotton</span>
                        <span class="text-primary"> • </span>
                        <span>Light weight</span>
                        <span class="text-primary"> • </span>
                        <span>Best finish<br /></span>
                      </div>
                      <div class="mb-2 text-muted small">
                        <span>Unique design</span>
                        <span class="text-primary"> • </span>
                        <span>For men</span>
                        <span class="text-primary"> • </span>
                        <span>Casual<br /></span>
                      </div>
                      <p class="text-truncate mb-4 mb-md-0">
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration
                        in some form, by injected humour, or randomised
                        words which don't look even slightly believable.
                      </p>
                    </div>
                    <div
                            class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                    >
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1">$14.99</h4>
                        <span class="text-danger"><s>$21.99</s></span>
                      </div>
                      <h6 class="text-success">Wifi Free</h6>
                      <div class="d-flex flex-column mt-4">
                        <button
                                class="btn btn-primary btn-sm"
                                type="button"
                        >
                          Chi Tiết
                        </button>
                        <button
                                class="btn btn-outline-primary btn-sm mt-2"
                                type="button"
                        >
                          Đặt Sân
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-4 mb-4 mb-lg-0">
                      <div
                              class="bg-image hover-zoom ripple rounded ripple-surface"
                      >
                        <img src="img/test_san.png" class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div
                                    class="mask"
                                    style="
                                    background-color: rgba(253, 253, 253, 0.15);
                                  "
                            ></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-5">
                      <h5>Quant ruybi shirts</h5>
                      <div class="d-flex flex-row">
                        <div class="ms-auto text-warning">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fas fa-star-half-alt"></i
                          ><i class="far fa-star"></i>
                        </div>
                        <span>145</span>
                      </div>
                      <div class="mt-1 mb-0 text-muted small">
                        <span>100% cotton</span>
                        <span class="text-primary"> • </span>
                        <span>Light weight</span>
                        <span class="text-primary"> • </span>
                        <span>Best finish<br /></span>
                      </div>
                      <div class="mb-2 text-muted small">
                        <span>Unique design</span>
                        <span class="text-primary"> • </span>
                        <span>For women</span>
                        <span class="text-primary"> • </span>
                        <span>Casual<br /></span>
                      </div>
                      <p class="text-truncate mb-4 mb-md-0">
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration
                        in some form, by injected humour, or randomised
                        words which don't look even slightly believable.
                      </p>
                    </div>
                    <div
                            class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                    >
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1">$17.99</h4>
                        <span class="text-danger"><s>$25.99</s></span>
                      </div>
                      <h6 class="text-success">Free shipping</h6>
                      <div class="d-flex flex-column mt-4">
                        <button
                                class="btn btn-primary btn-sm"
                                type="button"
                        >
                          Chi Tiết
                        </button>
                        <button
                                class="btn btn-outline-primary btn-sm mt-2"
                                type="button"
                        >
                          Đặt Sân
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3 mb-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a
                          class="page-link"
                          href="#"
                          tabindex="-1"
                          aria-disabled="true"
                  >Previous</a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- end content -->
    </div>
  </div>

  <!-- Service End -->

  <!-- Start Header -->
  <div th:insert="~{fragments/footer}"></div>
  <!-- End Header -->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
></script>
<script th:src="@{/static/lib/wow/wow.min.js}"></script>
<script th:src="@{/static/lib/easing/easing.min.js}"></script>
<script th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/static/js/main.js}"></script>
</body>
</html>
