<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SÂN BÓNG VN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <link rel="website icon" type="png"
          href="https://img.freepik.com/premium-vector/soccer-ball-logo-illustration-vector_472355-210.jpg?w=2000">

    <!-- Mobiscroll JS and CSS Includes -->
    <link
            href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Quan Trọng -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--  -->
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class=" bg-white p-0">

    <div th:insert="~{fragments/header}"></div>
    <div
            id="carouselExampleAutoplaying"
            class="carousel slide"
            data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                        src="https://png.pngtree.com/background/20210711/original/pngtree-football-shading-poster-background-vector-material-picture-image_1128182.jpg"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
            <div class="carousel-item">
                <img
                        src="https://png.pngtree.com/background/20210710/original/pngtree-football-colorful-game-poster-banner-background-picture-image_1037744.jpg"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
            <div class="carousel-item">
                <img
                        src="https://png.pngtree.com/background/20210711/original/pngtree-football-field-lighting-effect-background-banner-picture-image_1115809.jpg"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(29, 29, 39, 0.7)">
                <div class="modal-header border-0">
                    <button
                            type="button"
                            class="btn bg-white btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div
                        class="modal-body d-flex align-items-center justify-content-center"
                >
                    <div class="input-group" style="max-width: 600px">
                        <input
                                type="text"
                                class="form-control bg-transparent border-light p-3"
                                placeholder="Type search keyword"
                        />
                        <button class="btn btn-light px-4">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
            class="section-title position-relative text-center mb-3 mt-5 pb-2 wow fadeInUp"
            data-wow-delay="0.1s"
    >
        <h2 class="position-relative d-inline text-primary ps-4" style="font-weight: 800">CHÀO MỪNG BẠN ĐẾN VỚI SÂN BÓNG
            ĐỒNG ĐẾ</h2>
    </div>

    <div class="mt-5 mb-5 justify-content-center text-center">
        <div>
            <a type="button" class="btn mb-5" id="showRulesButton" data-bs-toggle="button"
               style="font-weight: bold; color:#2124B1; font-family: Roboto,sans-serif;font-size: 28px ">Xem nội quy</a>
        </div>
        <button style="
                    display: inline-block;
                    outline: none;
                    cursor: pointer;
                    font-family: Tahoma;
                    font-size: 14px;
                    line-height: 1;
                    border-radius: 500px;
                    transition-property: background-color,border-color,color,box-shadow,filter;
                    transition-duration: .3s;
                    border: 1px solid transparent;
                    letter-spacing: 2px;
                    min-width: 160px;
                    text-transform: uppercase;
                    white-space: normal;
                    font-weight: 700;
                    text-align: center;
                    padding: 17px 48px;
                    color: white;
                    background-color: #2124B1;
                    height: 48px;
                    :hover{
                        transform: scale(1.04);
                        background-color: #21e065;
                    }
                "><a th:href="@{/api/v1/user/trang-chu/danh-sach-lich-dat}" style="color: white;">Đặt Sân Ngay <i
                class="fas fa-arrow-right"></i></a></button>

    </div>
    <div id="rulesModal" style="display: none;">
        <section class="container-lg mt-2 ">
            <h2 class=" text-center justify-content-center mb-5">Nội quy sân bóng Đồng Đế</h2>
            <div class="thongTinLuatSan"></div>
        </section>
        <button type="button" class="btn mb-5 align-items-end" id="closeRulesButton" data-bs-toggle="button"
                style="color: red; float: right; font-size: 28px">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
    <br>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h4 class="text-primary mb-2  text-center">Các Bạn Là Một Phần Phát Triển Của Chúng Tôi</h4>
                <p style="font-size: 1.25em; color: #1a1a1a" class="display-5 mb-4 mb-md-5 text-center">Chúng tôi cung
                    cấp những gì chúng tôi hứa. Hãy xem khách hàng đang bày tỏ điều gì về chúng tôi.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-4 gy-md-0 gx-xxl-5">
            <div class="col-12 col-md-4">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <img style="width: 100px; height: 100px"
                                 class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuBXD_mLp8LOShCZcIehcHdHoUDFpAntQzl_3QlLYK1kVjsbBFZkWPPAJXRnK1-u24clo&usqp=CAU"
                                 alt="Luna John">
                            <figcaption>
                                <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                     data-bsb-star-off="0"></div>
                                <blockquote class="bsb-blockquote-icon mb-4">Chúng tôi rất ấn tượng với công việc họ đã
                                    làm cho chúng tôi về sân bóng. Họ đã có thể biến đam mê của chúng tôi thành hiện
                                    thực và họ đã thực hiện tất cả đúng như những gì chúng tôi mong muốn là đặt lịch
                                    online. Chúng tôi sẽ giới thiệu sân của các bạn cho mọi người
                                </blockquote>
                                <h4 class="mb-2">Author Triển Đoàn</h4>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <img style="width: 100px; height: 100px"
                                 class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                 src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg"
                                 alt="Mark Smith">
                            <figcaption>
                                <div class="bsb-ratings text-warning mb-3" data-bsb-star="4"
                                     data-bsb-star-off="1"></div>
                                <blockquote class="bsb-blockquote-icon mb-4">Chúng tôi đang tìm kiếm một công cụ có thể
                                    giúp chúng tôi phát triển một trang web mới vừa hấp dẫn về mặt hình ảnh vừa thân
                                    thiện với người dùng. Chúng tôi rất hài lòng với kết quả và chúng tôi thực sự muốn
                                    giới thiệu chúng cho bất kỳ ai đang tìm kiếm một trang web mới.
                                </blockquote>
                                <h4 class="mb-2">Author Đặng Sỹ</h4>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <img style="width: 100px; height: 100px"
                                 class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy"
                                 src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png"
                                 alt="Luke Reeves">
                            <figcaption>
                                <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                     data-bsb-star-off="0"></div>
                                <blockquote class="bsb-blockquote-icon mb-4">Chúng tôi đang tìm kiếm một công ty có thể
                                    giúp chúng tôi xây dựng thương hiệu. Chúng tôi cần một trang web và tài liệu tiếp
                                    thị. Họ đã có thể tạo ra bộ nhận diện thương hiệu mà chúng tôi yêu thích. Họ đã làm
                                    việc với chúng tôi để phát triển một logo đại diện cho công ty chúng tôi.
                                </blockquote>
                                <h4 class="mb-2">Author Cao Đình</h4>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div
            class="bg-primary newsletter my-5 wow fadeInUp"
            data-wow-delay="0.1s"
    >
        <div class=" px-lg-5">
            <div class="row align-items-center" style="height: 250px">
                <div class="col-12 col-md-6">
                    <h3 class="text-white">Liên Hệ Quảng Cáo</h3>
                    <small class="text-white"
                    >Cùng nhau phát triển, cùng nhau tạo giá trị</small
                    >
                    <div class="position-relative w-100 mt-3">
                        <input
                                class="form-control border-0 rounded-pill w-100 ps-4 pe-5"
                                type="text"
                                placeholder="Enter Your Email"
                                style="height: 48px"
                        />
                        <button
                                type="button"
                                class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"
                        >
                            <i class="fa fa-paper-plane text-primary fs-4"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-n5 d-none d-md-block">

                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter End -->

    <!-- Team Start -->
    <div class=" py-5">
        <div class=" px-lg-5">
            <div
                    class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
                    data-wow-delay="0.1s"
            >
                <h6 class="position-relative d-inline text-primary ps-4">
                    Team
                </h6>
                <h2 class="mt-2">Thành Viên SD-107</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div
                                    class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                                    style="width: 75px"
                            >
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-twitter"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-instagram"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </div>
                            <img
                                    style="width: 200px; height: 500px"
                                    class="img-fluid rounded w-100"
                                    src="https://scontent.fhan17-1.fna.fbcdn.net/v/t1.6435-9/185097446_1098015324028470_5708998404413173402_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=be3454&_nc_ohc=Iq-0fCe4u3gAX9DREvm&_nc_ht=scontent.fhan17-1.fna&oh=00_AfBcB9jFKSZaO1TArUQOIt-T8VCje7s8E86aNt8RhD6c0w&oe=658947AD"
                                    alt=""
                            />
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Phạm Văn Thể</h5>
                            <small>CEO</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div
                                    class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                                    style="width: 75px"
                            >
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-twitter"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-instagram"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </div>
                            <img
                                    style="width: 200px; height: 500px"
                                    class="img-fluid rounded w-100"
                                    src="https://scontent.fhan17-1.fna.fbcdn.net/v/t1.6435-9/175990209_836463667216273_2099148847088686659_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=sOLDUnwbugMAX_YVGG6&_nc_ht=scontent.fhan17-1.fna&oh=00_AfA8yBxhyPTkIc_Npaq7xgeumn2xqAAmuE5u5XF_d7z4iQ&oe=658933A2"
                                    alt=""
                            />
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Nguyễn Quốc Tuấn</h5>
                            <small>Manager</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div
                                    class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                                    style="width: 75px"
                            >
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-twitter"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-instagram"></i
                                ></a>
                                <a class="btn btn-square text-primary bg-white my-1" href=""
                                ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </div>
                            <img
                                    style="width: 200px; height: 500px"
                                    class="img-fluid rounded w-100"
                                    src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/343627317_906690883937845_6441141530017379497_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=kisPS2z9oKUAX-ZhqDs&_nc_ht=scontent.fhan17-1.fna&oh=00_AfAUX2kGNX-jCWJRb-E20CLbEq4rE8j-8X4j9FohsZj51Q&oe=6567A6FA"
                                    alt=""
                            />
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Nguyễn Phúc Lâm</h5>
                            <small>Developer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!--      <div-->
    <!--              class="bg-primary testimonial py-5 my-5 wow fadeInUp"-->
    <!--              data-wow-delay="0.1s"-->
    <!--      >-->
    <!--        <div class=" py-5 px-lg-5">-->
    <!--          <div class="owl-carousel testimonial-carousel">-->
    <!--            <div-->
    <!--                    class="testimonial-item bg-transparent border rounded text-white p-4"-->
    <!--            >-->
    <!--              <i class="fa fa-quote-left fa-2x mb-3"></i>-->
    <!--              <p>-->
    <!--                Một trải nghiệm tuyệt vời, quá xuất sắc, hệ thống của các bạn giúp tôi tiết kiệm thời gian rất nhiều-->
    <!--              </p>-->
    <!--              <div class="d-flex align-items-center">-->
    <!--                <img-->
    <!--                        class="img-fluid flex-shrink-0 rounded-circle"-->
    <!--                        src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-account-avatar-user-abstract-circle-background-flat-color-icon-png-image_1650938.jpg"-->
    <!--                        style="width: 50px; height: 50px"-->
    <!--                />-->
    <!--                <div class="ps-3">-->
    <!--                  <h6 class="text-white mb-1">Client Name</h6>-->
    <!--                  <small>Profession</small>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div-->
    <!--                    class="testimonial-item bg-transparent border rounded text-white p-4"-->
    <!--            >-->
    <!--              <i class="fa fa-quote-left fa-2x mb-3"></i>-->
    <!--              <p>-->
    <!--                Sân bóng rất đẹp, tôi thực sự ấn tượng với phong cách làm việc của các bạn-->
    <!--              </p>-->
    <!--              <div class="d-flex align-items-center">-->
    <!--                <img-->
    <!--                        class="img-fluid flex-shrink-0 rounded-circle"-->
    <!--                        src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-account-avatar-user-abstract-circle-background-flat-color-icon-png-image_1650938.jpg"-->
    <!--                        style="width: 50px; height: 50px"-->
    <!--                />-->
    <!--                <div class="ps-3">-->
    <!--                  <h6 class="text-white mb-1">Client Name</h6>-->
    <!--                  <small>Profession</small>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div-->
    <!--                    class="testimonial-item bg-transparent border rounded text-white p-4"-->
    <!--            >-->
    <!--              <i class="fa fa-quote-left fa-2x mb-3"></i>-->
    <!--              <p>-->
    <!--                Sân bóng của các bạn rất tốt, tôi rất ấn tượng với hệ thống đặt lịch. Các bạn thật chuyên nghiệp-->
    <!--              </p>-->
    <!--              <div class="d-flex align-items-center">-->
    <!--                <img-->
    <!--                        class="img-fluid flex-shrink-0 rounded-circle"-->
    <!--                        src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-account-avatar-user-abstract-circle-background-flat-color-icon-png-image_1650938.jpg"-->
    <!--                        style="width: 50px; height: 50px"-->
    <!--                />-->
    <!--                <div class="ps-3">-->
    <!--                  <h6 class="text-white mb-1">Client Name</h6>-->
    <!--                  <small>Profession</small>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      &lt;!&ndash; Testimonial End &ndash;&gt;-->

    <!-- Newsletter Start -->


    <!-- Start Footer -->
    <div th:insert="~{fragments/footer}"></div>
    <!-- End Footer -->

</div>

<!-- JavaScript Libraries -->
<script>
    $(document).ready(function () {
        $("#showRulesButton").click(function () {
            // Hiển thị bảng nội quy khi nút được nhấn
            $("#rulesModal").show();
        });

        // Đóng bảng nội quy khi người dùng nhấn nút đóng
        $("#closeRulesButton").click(function () {
            $("#rulesModal").hide();
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script th:src="@{/static/lib/wow/wow.min.js}"></script>-->
<script th:src="@{/static/lib/easing/easing.min.js}"></script>
<script th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/static/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/static/js/owner/luat-san.js}"></script>
<!-- END Full Calendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/vi.js"></script>

<!-- Template Javascript -->
<script th:src="@{/static/js/main.js}"></script>
<!--    <script th:src="@{/static/js/calendar/calendar-custom-book.js}"></script>-->

</body>
</html>
