.mains{
    padding: 10px 0px;
}

.btn-labeled {
    /* padding-top: 0;
    padding-bottom: 0; */
    border-radius: 5px;
}

.body-row-col {
    padding: 5px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* chú ý */
.form-control {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form-select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
}

.card-header h2{
    color: #2124B1;
    font-size: 28px;
    font-weight: bold;
}

.col-form-label {
    font-size: 18px;
    color: black;
}

table th,
table td {
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
table th {
    text-align: center;
}

h5{
    font-size: 1.25rem;
    color: #2124B1;
}

video {
    padding-top: 6%; /* Tỷ lệ chiều cao tùy thuộc vào thiết kế của bạn */
    margin-bottom: 10px; /* Khoảng cách bottom giữa camera và nút là 10px */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo video không bị biến dạng khi kích thước không đúng */
    display: block;
}

/* Đảm bảo canvas cũng chiếm đúng kích thước */
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Thêm bóng cho camera (tùy chọn) */
.camera::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Đảm bảo sự kiện không bị chặn */
}