<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SÂN BÓNG ĐỒNG ĐẾ</title>
    <link
            rel="website icon"
            type="png"
            href="https://img.freepik.com/premium-vector/soccer-ball-logo-illustration-vector_472355-210.jpg?w=2000"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Quan Trọng -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--  -->
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/dist/bootstrap-icons.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--    <script th:src="@{/js/manager.js}"></script>-->
    <!--    <link th:href="@{/css/theme.css}" rel="stylesheet" />-->
</head>
<body>
<header th:insert="~{fragments/header-admin}"></header>
<br />
<div class="container mt-4 formThongBao">
    <div class="fixed-form">
        <h4></h4>
        <form></form>
    </div>
</div>
<div class="mt-4">
    <!-- Thành phần nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link active"
                    id="tab1-tab"
                    data-bs-toggle="tab"
                    href="#tab1"
                    role="tab"
                    aria-controls="tab1"
                    aria-selected="true"
            >TẠO TÀI KHOẢN</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link"
                    id="tab2-tab"
                    data-bs-toggle="tab"
                    href="#tab2"
                    role="tab"
                    aria-controls="tab2"
                    aria-selected="false"
            >DANH SÁCH TÀI KHOẢN</a
            >
        </li>
    </ul>

    <!-- Thành phần tab content -->
    <div class="tab-content" id="myTabContent">
        <!-- Tab 1 -->
        <div
                class="tab-pane fade show active"
                id="tab1"
                role="tabpanel"
                aria-labelledby="tab1-tab"
        >
            <br />
            <form
                    method="post"
                    action="/admin/add"
                    class="container"
                    enctype="multipart/form-data"
            >
                <div class="row">
                    <div class="col-6">
                        <div class="input-group flex-nowrap">
                            <input ng-model="detail.id" type="hidden" />
                            <span class="input-group-text" id="addon-wrapping"
                            >Email</span
                            >
                            <input
                                    type="text"
                                    class="form-control"
                                    name="tenSanPham"
                                    required
                                    placeholder="Email"
                                    aria-describedby="addon-wrapping"
                            />
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="col-6">
                        <div class="input-group flex-nowrap">
                            <input ng-model="detail.id" type="hidden" />
                            <span class="input-group-text" id="addon-wrapping"
                            >Tài khoản</span
                            >
                            <input
                                    type="text"
                                    class="form-control"
                                    name="tenSanPham"
                                    required
                                    placeholder="Tài khoản"
                                    aria-describedby="addon-wrapping"
                            />
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="col-6">
                        <div class="input-group flex-nowrap">
                            <input ng-model="detail.id" type="hidden" />
                            <span class="input-group-text" id="addon-wrapping"
                            >Mật Khẩu</span
                            >
                            <input
                                    type="password"
                                    class="form-control"
                                    name="tenSanPham"
                                    required
                                    placeholder="Mật Khẩu"
                                    aria-describedby="addon-wrapping"
                            />
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="col-6">
                        <div class="input-group flex-nowrap">
                            <input ng-model="detail.id" type="hidden" />
                            <span class="input-group-text" id="addon-wrapping"
                            >Tên Hiển Thị</span
                            >
                            <input
                                    type="text"
                                    class="form-control"
                                    name="tenSanPham"
                                    required
                                    placeholder="Tên hiển thị"
                                    aria-describedby="addon-wrapping"
                            />
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <button
                        type="submit"
                        onclick="return confirm('BẠN CÓ CHẮC CHẮN THỰC HIỆN!')"
                        class="btn btn-success"
                >
                    SAVE
                </button>
            </form>
        </div>
        <!-- Tab 2 -->
        <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab2-tab"
        >
            <br />
            <br />
            <table class="table table-header table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Tên Hiển Thị</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button
                                style="background-color: white; border: 1px solid red"
                                class="deletebtn btn btn-primary"
                                onclick="return confirm('BẠN CÓ CHẮC CHẮN THỰC HIỆN!')"
                        >
                            <i
                                    class="fa fa-trash"
                                    style="color: red"
                                    aria-hidden="true"
                            ></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<br />
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"
></script>
</body>
</html>
